{% extends 'customers/base.html' %}

{% block header %}
  <title>{{ customer }}</title>
{% endblock %}

{% block contextmenu %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profile<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">View Orders</a></li>
                <li><a href="#">Measure Up</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Caution!</li>
                <li><a href="#">Delete</a></li>
              </ul>
            </li>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="page-header col-md-6">
      <h1>{{ customer.first_name }}'s details</h1>
      <a href="{% url 'customers:update' customer.pk %}">Edit {{ customer.first_name }}</a>
    </div>

    <div class="col-md-6">
      <table class="table table-bordered">
	<tbody>
	  <tr><td>Customer</td><td>{{ customer.first_name }} {{ customer.last_name }}</td></tr>
	  <tr><td>Address</td><td></td></tr>
	  <tr><td>Contact Number</td><td>{{ customer.phone_number }}</td></tr>
	  <tr><td>Email</td><td>{{ customer.email_address }}</td></tr>
	</tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered">
	<tbody>
	  <tr>
	    <td>Age</td><td>อาย</td><td>{{ customer.age }}</td>
	    <td>Height</td><td>นํ้าห</td><td>{{ customer.height }}</td>
	    <td>Weight</td><td>นํ้าหนัก</td><td>{{ customer.weight }}</td>
	  </tr>
	</tbody>
      </table>
    </div>
  </div>

  <div class="page-header">
    <h2>Suit</h2>
    <div class="row">
      <div class="col-md-6">
	<table class="table table-bordered">
	  <thead>
	    <tr>
	      <th>English</th>
	      <th>Thai</th>
	      <th>Inches</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <td>Shoulder-neck-shoulder</td>
	      <td>ไหล</td>
	      <td>{{ customer.current_measurements.shoulder_neck_shoulder }}</td>
	    </tr>
	    <tr>
	      <td>Top of shoulder to wrist crease</td>
	      <td></td>
	      <td>{{ customer.current_measurements.top_of_shoulder_to_wrist }}</td>
	    </tr>
	    <tr>
	      <td>Bicep under armpit</td>
	      <td></td>
	      <td>{{ customer.current_measurements.bicep_under_armput }}</td>
	    </tr>
	    <tr>
	      <td>Mid shoulder</td>
	      <td></td>
	      <td>{{ customer.current_measurements.mid_shoulder }}</td>
	    </tr>
	    <tr>
	    </tr>
	  </tbody>
	</table>
      </div>
    </div>
  </div>

{% endblock %}

