{% extends 'customers/base.html' %}

{% block header %}
  <title>{{ customer }}</title>
{% endblock %}

{% block contextmenu %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profile<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">View Orders</a></li>
                <li><a href="#">Measure Up</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Caution!</li>
                <li><a href="#">Delete</a></li>
              </ul>
            </li>
{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h2>{{ customer }}</h2>
    <p>{{ customer.first_name }} has been a customer since {{ customer.created_date }}</p>
    <p><a href="mailto:{{ customer.email_address }}">{{ customer.email_address }}</a></p>
  </div>

  <div class="page-header">
    <h1>{{ customer.first_name }}'s details</h1>
    <a href="{% url 'customers:update' customer.pk %}">Edit {{ customer.first_name }}</a>
  </div>

  <div class="row">
    <div class="col-md-4">Age: {{ customer.age }}</div>
    <div class="col-md-4">Height: {{ customer.height }}</div>
    <div class="col-md-4">Weight: {{ customer.weight }}</div>
  </div>


{% endblock %}

